@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  @theme {
    --color-lighter: #f9fafb;
    --color-hlighter: #d1d5db;
    --color-darker: #1f2937;
    --color-hdarker: #111827;
    --color-primary: #2563eb;
    --color-secondary: #10b981;
    --color-accent: #b91c1c;
  }
}

html {
  transition:
    background-color 0.3s,
    color 0.3s;
}
