@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lighter: #F7F7F7;
  --color-hlighter: #C7C7C7;
  --color-darker: #272727;
  --color-hdarker: #373737;
  --color-primary: #A8180D;
  --color-secondary: #C79900;
  --color-accent: #48704E;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
