@import "tailwindcss";

@theme {
  --color-lighter: #E1D8C3;
  --color-hlighter: #C8C0AE;
  --color-darker: #25201C;
  --color-hdarker: #3A332D;
  --color-primary: #6F5B40;
  --color-secondary: #A4DDDB;
  --color-accent: #E6A05B;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
